<%= render('update_totals') %>

<% if @mustships.any? %>
  $('#mustship-data').html('\
    <% @mustships.each do |order| %>\
      <div id="<%= order.order_num %>" class="ms-order-row-dt">\
        <span class="row-data-dt order-data-dt">\
          <%= order.order_num + ' / ' + order.order_gen %>\
        </span>\
        <span class="row-data-dt carrier-data-dt"><%= order.carrier %></span>\
        <% if order.dispatch_date == '99999999' %>\
          <span class="row-data-dt dispatched-data-dt bold red">\
            NOT DISPATCHED\
          </span>\
        <% else %>\
          <span class="row-data-dt dispatched-date-data-dt">\
            <%= order.dispatch_date.to_datetime.strftime("%a %m/%d") %>\
          </span>\
          <span class="row-data-dt dispatched-time-data-dt">\
            <%= (order.dispatch_date + ' ' + order.dispatch_time).to_datetime.strftime("%l:%M %p") %>\
          </span>\
        <% end %>\
        <% if !(order.buf_picker.blank?) %>\
          <span class="row-data-dt picker-data-dt bold green">\
            <%= order.buf_picker %>\
          </span>\
          <span class="row-data-dt unit-data-dt bold green">\
            <%= order.buf_unit %>\
          </span>\
        <% elsif !(%w(0 99).include? order.buf_unit) %>\
          <span class="row-data-dt picker-data-dt"></span>\
          <span class="row-data-dt unit-data-dt bold yellow">\
            <%= order.buf_unit %>\
          </span>\
        <% else %>\
          <span class="row-data-dt picker-data-dt"></span>\
          <span class="row-data-dt unit-data-dt"></span>\
        <% end %>\
        <% if !(order.ont_picker.blank?) %>\
          <span class="row-data-dt picker-data-dt bold green">\
            <%= order.ont_picker %>\
          </span>\
          <span class="row-data-dt unit-data-dt bold green">\
            <%= order.ont_unit %>\
          </span>\
        <% elsif !(%w(0 99).include? order.ont_unit) %>\
          <span class="row-data-dt picker-data-dt"></span>\
          <span class="row-data-dt unit-data-dt bold yellow">\
            <%= order.ont_unit %>\
          </span>\
        <% else %>\
          <span class="row-data-dt picker-data-dt"></span>\
          <span class="row-data-dt unit-data-dt"></span>\
        <% end %>\
        <span class="row-data-dt account-data-dt text-left">\
          <%= order.account_name[0...20] %>\
        </span>\
      </div>\
    <% end %>'
  );
<% else %>
  $('#mustship-data').empty();
<% end %>

<%= render('scrolling_check') %>